# Virtual Environment
venv/
Env/
.env/

# Python build and distribution files
build/
dist/
*.egg-info/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Saved data files
data/
*.csv
*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# IDE and editor files
*.DS_Store